<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FotoPerfilAP.png" class="img-fluid" id="fotodeperfil">
    </div>
<div class="col-xs-12 col-sm-2 col-md-2 col lg-2">
    <p id="nombre">Dante Ezequiel Aybar</p>
    <p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col lg-8">
    <span>
        <h1>Acerca de mi</h1>
        <p>Hola soy Dante Ezequiel Aybar tengo 19 años, aspiro a ser un desarrollador web fullstack profesional y este es mi portfolio para Argentina Programa, espero lo disfruten. </p>
    </span>
</div>
</div>
