<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="LogoAP">
        </div>
        <div class="redes">
            
                
                <a href="https://github.com/DanteAybar"><img src="../../../assets/github.png"id="github" ></a>
                <a href="https://www.instagram.com/dante_815/"><img src="../../../assets/instagram.png" id="instagram"></a>
                
                
                <button type="button"class="btn btn-outline-light" (click) ="login()" *ngIf="!isLogged">Ingresar</button>
                <button type="button"class="btn btn-outline-light" (click) ="onLogOut()" *ngIf="isLogged">Cerrar sesión</button>           
        </div>
    </div>
</div>
